/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ech-dmn-dr-news-container {
  margin: 20px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.ech-dmn-filter-container {
  flex-basis: calc(25% - 10px);
  overflow-y: auto;
}

.ech-dmn-filter-container h4 {
  margin-bottom: 10px;
  font-size: 24px;
}

.ech-dmn-filter-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0;
  margin-top: 0;
}

.ech-dmn-filter-container ul li {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  list-style: none;
  line-height: 1.3;
}

.ech-dmn-dr-news-container .news-btn button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #2B3866;
}

.ech-dmn-filter-container .news-btn {
  display: flex;
  gap: 10px;
}

.ech-dmn-news-container {
  flex-basis: calc(75% - 10px);
}

.ech-dmn-news-container .news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.ech-dmn-news-container .news-card {
  flex-basis: calc((100% - 50px) / 3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.ech-dmn-news-container .news-card .featured-image {
  display: flex;
  height: 200px;
}

.ech-dmn-news-container .news-card .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ech-dmn-news-container .news-card .featured-image img.default-logo {
  padding: 4%;
  object-fit: contain;
}

.ech-dmn-news-container .news-card .news-info {
  padding: 4%;
}

.ech-dmn-news-container .news-card .news-info>a {
  color: #3671b2;
  text-decoration: underline;
}

.ech-dmn-news-container .news-card .news-title {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.ech-dmn-news-container .news-card .news-title a {
  text-decoration: none;
}

.ech-dmn-news-container .news-card .news-title h1 {
  margin-bottom: 0;
  font-size: 20px;
}

.ech-dmn-news-container .news-card .news-specialty,
.ech-dmn-news-container .news-card .news-doctor,
.ech-dmn-news-container .news-card .news-brand {
  margin-bottom: 5px !important;
  font-size: 16px !important;
  color: #3e3e3e !important;
}

.ech-dmn-news-container .loading-news {
  display: none;
  margin: 20px auto;
  text-align: center;
}

.ech-dmn-news-container .news-btn {
  padding: 20px;
  text-align: center;
}

@media(max-width:1024px) {
  .ech-dmn-news-container .news-card {
    flex-basis: calc((100% - 25px) / 2);
  }
}

@media(min-width:768px) {
  .ech-dmn-filter-container {
    position: sticky;
    top: 130px;
    height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .ech-dmn-filter-container::-webkit-scrollbar {
    display: none;
  }

}

@media(max-width:767px) {

  .ech-dmn-filter-container,
  .ech-dmn-news-container {
    flex-basis: 100%;
  }
}

/* news content */

.site-content>.ast-container {
  max-width: 100%;
  padding: 0;
}

.ast-plain-container.ast-no-sidebar #primary {
  margin-top: 0;
}

.ech-dmn-single-news-container {
  padding-bottom: 4%;
}

.news-heading-title {
  background-color: #DDF0FF;
}

.news-heading-title h1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4%;
  font-size: 30px;
}

.single-news-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

.ech-dmn-single-news-container .post-info {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ech-dmn-single-news-container .post-info>ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.ech-dmn-single-news-container .post-info>ul li {
  color: #58595B;
  font-size: 15px;
  line-height: 1.3;
  list-style: none;
}

.back-to-news-list>a {
  color: #58595B;
  font-weight: 600;
  text-decoration: none !important;
  background-color: #2B3866;
}

.news-content-container {
  padding-top: 4%;
}

.news-content-container iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  max-height: 600px;
}

.news-content-container .post-content h1 {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.3;
}

.news-content-container .post-content h2 {
  margin-bottom: 10px;
  font-size: 28px
}

.news-content-container .post-content h3 {
  margin-bottom: 10px;
  font-size: 24px
}

.news-content-container .post-content a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  word-break: break-all;
  color: #3671b2;
  text-decoration: underline;
}

.back-to-news-list-btn {
  margin-bottom: 40px;
  text-align: center;
}

.back-to-news-list-btn>a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none !important;
  border-radius: 5px;
}


@media(max-width:767px) {
  .ech-dmn-single-news-container .post-info>ul {
    order: 2;
  }

  .news-content-container .post-content h1 {
    font-size: 28px;
  }

  .news-content-container .post-content h2 {
    font-size: 24px
  }

  .news-content-container .post-content h3 {
    font-size: 20px
  }
}

/* END news content */